/* Estilo geral do corpo da página */
body {
    margin: 0; /* Remove margens padrão do navegador */
    padding: 0; /* Remove padding padrão do navegador */
    color: #ffffff; /* Deixa o texto padrão branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Classe aplicada ao body para usar imagem de fundo */
.bg-img {
    background-image: url('img/Filmstrip.jpg'); /* Caminho da imagem de fundo */
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

/* Container */
.container {
    width: 80%; /*Largura de 80% da tela */
    margin: auto; /* Centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background: rgba(0,0,0,0.6); /* Fundo preto com transparência */
    border-radius: 10px; /* Bordas arredondadas */
    margin-top: 40px; /* Espaço superior */
}

/* TÍTULOS EM BRANCO */
h1, h2, h3 {
    color: #ffffff; /* Títulos em branco */
}

/* Input */
input {
    padding: 10px; /* Espaçamento interno */
    width: 70%; /* Largura de 70% */
}

/* Botões padrões */
button {
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de mãozinha */
}

/* Botões principais: buscar, salvar */
.btn-add, .addBtn {
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #0c912b; /* verde */
    border: none; /* Sem borda */
    color: #ffffff; /* TEXTO BRANCO */
    font-weight: bold; /* Negrito */
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
}

.btn-add:hover, .addBtn:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
}

/* Catálogo */
.catalog-table {
    width: 100%; /* Largura total */
    background: #ffffff1a; /* Fundo branco com transparência */
    border-collapse: collapse; /* Remove espaços entre células */
    margin-top: 20px; /* Espaço superior */
}

.catalog-table th, /* CÉLULAS DA TABELA */
.catalog-table td {
    padding: 8px;
    border: 1px solid #333;
    color: #000 !important; /* Preto forte */
}

/* CABEÇALHO DA TABELA EM BRANCO */
.catalog-table th {
    background: #0056b3;
    color: #181616; /* Cor do texto do cabeçalho */
}

/* Imagem da tabela */
.catalog-table img {
    max-width: 60px;
    border-radius: 4px;
}
